@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

body{
    background-color: #d5c7ff;
    color: white;
    font-family: 'Roboto Slab', serif;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#card{
    border-radius: 20px;
    max-width: 500px;
    border: 1px solid black;
    background-color: #25235c;
    margin-top: 10vh;
}

#symbol{
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    border: 3px solid white;
    border-radius: 50%;
    padding: 0px 20px;
}

#pic-box{
    display: grid;
    place-items: center;
    margin-top: 20px;
}

#pic{
    border-top: none;
    border-right: 5px solid goldenrod;
    border-bottom: 5px solid goldenrod;
    border-left: none;
    max-width: 220px;
    border-radius: 50%;
    margin: 30px;
}

#heading{
    word-wrap: break-word;
}

.mid{
    text-align: center;
}

#mail-box{
    display: grid;
    place-items: center;
}

#mail{
    padding: 10px;
    border-radius: 10px;
    background-color: #d5c7ff;
    color: #25235c;
    font-weight: 700;
    font-size: 14px;
    
}

#info{
    position: relative;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: #d5c7ff;
    color: #25235c;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
}

ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    left: 10%;
    margin: 40px auto;
}

ul>li{
    list-style-type: none;
}

li>a{
    color: white;
}


@media (max-width: 320px){
    #symbol{
        padding: 0px 10px;
    }
    #symbol>h1{
        font-size: 17px;
    }
}

@media (min-width: 321px) and (max-width: 375px) {
    #pic{
        margin-top: 60px;
    }
}